body {
  background-image: url("https://st2.depositphotos.com/5647624/50812/i/450/depositphotos_508126030-stock-photo-old-wood-texture-background-dark.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.todo-container {
  background-image: url("https://png.pngtree.com/png-clipart/20221116/ourmid/pngtree-old-paper-scroll-manuscript-png-image_6445608.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.title {
  margin-bottom: 5%;
  margin-left: 42%;
  font-family: "IM Fell DW Pica SC", serif;
}

.todo-form {
  position: absolute;
  bottom: 20px;
  right: 20px;
  display: flex;
}

.todo-form input[type="text"] {
  width: 260px;
}

.todo-form button {
  margin-left: 10px;
}

.roman-numbers-left {
  display: flex;
  flex-direction: column;
  margin-left: 50%;
}

.roman-numbers-left div,
.roman-numbers-right div {
  margin-bottom: 20px;
  color: red;
}

.todo-list-left li,
.todo-list-right li {
  margin-bottom: 20px;
  list-style-type: none;
  margin-left: 10px;
}

.trash-icon {
  display: none;
  cursor: pointer;
  color: grey;
  opacity: 0.5;
}

.todo-list-right div:hover .trash-icon,
.todo-list-left div:hover .trash-icon {
  display: inline-block;
}
