body {
  background-image: url("https://t4.ftcdn.net/jpg/00/92/47/85/360_F_92478590_BbuqPZQDFPOOjIbhQajB3oq2z5cfsVZt.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;
  padding: 0;
}

.todo-container {
  background-image: url("https://png.pngtree.com/png-clipart/20221116/ourmid/pngtree-old-paper-scroll-manuscript-png-image_6445608.png");
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Garamond", serif;
  padding: 20px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  list-style-type: none;
  padding: 0;
  max-width: 100px;
  width: 65%;
  margin-top: 20px;
}

.todo-list li {
  margin-bottom: 5px;
}
